*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}


.persistent-header{
  background-color: rgb(7, 95, 101);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 3%;
  border: 20px rgb(6, 60, 60);
}

a, 
h1,
h2,
h3{
  text-decoration: none;
}

.page-title{
  padding-top: 15px;
}

.links-list li{
  display: inline-block;
}

.links-list a { 
  color: white;
}

body{
  background-color: rgb(155, 51, 20);
}
.main-content{
  border: 2px solid rgba(7, 95, 101, 0.705);
  width: 75%;
  margin: 0 auto;
  background-color: rgb(202, 186, 148);
  padding: 0 60px 45px;
}

.main-content section{
  border: 4px solid rgb(7, 95, 101);
  background-color: rgb(241, 237, 218);
}

.section-content {
  padding: 14px;
  margin: 15px;
}

.section-content p{
  margin: 10px;
  line-height: 1.5;
  font-size: 18px;
  font-family: sans-serif;
}

.section-content img{
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}